.static-page h1 {
  font-size: 1.9rem;
}

.static-page small {
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Proza Libre';
  display: block;
}

.underline {
  padding-bottom: 30px;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 40px;
}

.static-page p {
  font-size: 1.25rem;
}

.textbox {
  margin: 0 -40px;
  padding: 40px;
  background: #edf4ea;
}

.static-page .btn-patron {
  margin-top: 30px;
  font-size: 1.2rem;
}