:root {
  --primary-color: #425f27;
  --primary-color-darker: #3a4c28;
  --secondary-color: #b8c985;
  --gray-color: #a6a89d;
  --gray-color-darker: #737764;
}

body {
  font-family: Assistant;
  color: var(--primary-color);
  font-size: 15px;
}

h1, h2, h3, h4 {
  font-family: 'Proza Libre';
  font-weight: bold;
}

h1 {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 1.6rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.3rem;
  }
}

h1 em {
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-darker);
}

.bg1 {
  background: var(--primary-color);
}
.bg2 {
  background: var(--secondary-color);
}

main {
  padding-bottom: 60px;
}

section {
  padding: 40px 0;
}

header {
  background: url('../images/leaf-header.jpg') no-repeat 148px 0/120px;
}

.navbar {
  padding: 20px 0 60px;
}

.navbar-nav {
  align-self: flex-start;
  margin-left: 100px;  
}

.navbar-brand {
  background: url('../images/logo.png') no-repeat 0 0/167px;
  width: 167px;
  height: 89px;
  text-indent: -200px;
  overflow: hidden;
  margin-top: 44px;
}

@media (max-width: 991px) {
  header {
    background-position: 129px 0;
  }
  .navbar-nav {
    margin: 20px 0 10px;
  }
  .navbar-brand {
    margin-top: 38px;
  }
}

.navbar-nav .nav-link {
  margin-right: 40px;
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-color-darker) !important;
  border-color: var(--primary-color-darker) !important;
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

section.patron {
  background-color: #edf4ea;
  position: relative;
}

section.patron:after {
  content: '';
  position: absolute;
  right: 0;
  top: -280px;
  background: url('../images/leaf-right.png') no-repeat 0 0/100%;
  width: 223px;
  height: 384px;
  pointer-events: none;
}

section.community {
  position: relative;
  min-height: 372px;
  display: flex;
  align-items: center;
  margin-bottom: -60px;
}

section.community:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: url('../images/leaf-community.jpg') no-repeat 0 0/100%;
  width: 358px;
  height: 372px;
  pointer-events: none;
}

.community-content {
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.9);
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 30px 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--gray-color);
}

.btn-notifications svg {
  transition: transform 0.1s ease-in;
}

.btn-notifications:hover svg {
  transform: rotate(-9deg) translateX(1px) scale(1.08)
}