:root {
  --primary-color: #3a4c28;
  --primary-color-darker: #222f15;
  --secondary-color: #b8c985;
}
body {
  font-family: Assistant;
  color: var(--primary-color);
}

h1, h2, h3, h4 {
  font-family: 'Proza Libre';
}

a {
  color: var(--primary-color);
}

.bg1 {
  background: var(--primary-color);
}
.bg2 {
  background: var(--secondary-color);
}

.navbar {
  padding: 0;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary-color-darker) !important;
  border-color: var(--primary-color-darker) !important;
}

/* This is a hack to hide the "Comments" text in .disqus-comment-count */
.comments-tab {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.disqus-comment-count {
  margin-right: -86px;
  word-spacing: 10px;
}
/* End of hack */

.nav-tabs, .nav-tabs .nav-item {
  border: none;
}

.actions {
  float: right;
}
